.xft-add {
  border-top: 16px solid #f7f8fa;
  border-bottom: 72px solid #f7f8fa;
  background-color: #ffffff;
  .header {
    min-height: 72px;
    .title-text {
      padding-left: 17%;
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 400;
      color: #3d4966;
      .archive-status {
        padding: 5px 12px;
        background: #ffefe8;
        border-radius: 3px;
        color: #ff6010;
        line-height: 14px;
      }
    }
  }
  .title {
    height: 48px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 500;
    color: #1f2e4d;
    line-height: 48px;
    border-bottom: 1px solid #e6e9f0;
  }
  .form-info {
    padding-top: 24px;
    ::v-deep.el-form-item {
      margin-bottom: 24px;
    }
  }
  .e-private-con {
    display: flex;
  }
  // &-template {
  //   padding-left: 12px;
  //   color: #3377ff;
  //   cursor: pointer;
  // }
}
.bottom {
  width: calc(100% - 242px);
  background-color: #ffffff;
  height: 56px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 3%);
}
.archive-bottom-btn {
  padding: 8px 22px;
}
.xft-add-form {
  ::v-deep.el-input.is-disabled .el-input__inner {
    color: #212430 !important;
  }
  ::v-deep.el-radio__input.is-disabled + span.el-radio__label {
    color: #212430 !important;
  }
}
.e {
  &-preview {
    &-con {
      left: 35vw;
      right: 35vw;
      bottom: 20vh;
      top: 10vh;
      ::v-deep .el-image-viewer__mask {
        display: none;
      }
      ::v-deep .el-image-viewer__close {
        background-color: #606266;
        width: 44px;
        height: 44px;
        font-size: 30px;
      }
      ::v-deep .el-icon-circle-close::before {
        content: '\e6db';
        color: #ffffff;
      }
    }
  }
  &-icon {
    &-question {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}
.question-icon {
  display: inline-block;
  line-height: 32px;
  width: 16px;
}
