#app {
  height: inherit;
}

.search-box {
  background: #ffffff;
  padding: 16px 16px 0px;
}

.data-box {
  padding: 16px 16px 0px;
  background-color: #fff;
}

.xdd-btn-block__w240 {
  .el-input {
    width: 240px;
  }
}

.km-container__inner {
  min-height: calc(100vh - 136px);
  background-color: #fff;
}