#app {
  height: inherit;
}
.search-box {
  background: #ffffff;
  padding: 16px 16px 0;
}
.data-box {
  padding: 16px 16px 0;
  background-color: #ffffff;
  min-height: 400px;
}
.xdd-btn-block__w240 {
  .el-input {
    width: 240px;
  }
}
.km-container__inner {
  min-height: calc(100vh - 136px);
  background-color: #ffffff;
}
