.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: #3377FF;
  border-color: #3377FF;
  font-size: 16px;
}
.el-checkbox__inner {
  width: 16px;
  height: 16px
}
.el-checkbox__inner:hover {
  border-color: #3377FF;
}
.el-checkbox__inner::after {
  box-sizing: content-box;
  content: "";
  border: 2px solid #FFF;
  border-left: 0;
  border-top: 0;
  height: 8px;
  left: 5px;
  position: absolute;
  top: 1px;
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  transition: transform .15s ease-in .05s;
  transform-origin: center;
}
.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #3377FF;
}