.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #3377ff;
}
.el-input__inner {
  border-radius: 2px;
}
.el-input--mini .el-input__inner {
  height: 32px;
  line-height: 32px;
}
.el-input .el-input__clear {
  font-size: 16px;
  color: #cad1e0;
}
.el-input__suffix-inner {
  .el-icon-circle-close:before {
    content: '\e79d';
  }
}
.el-textarea__inner:focus {
  border-color: #3377ff;
}
.el-input {
  width: 240px;
}
.el-input.is-disabled .el-input__inner {
  color: #8c919c;
}
