.el-tooltip__popper.is-dark {
  background-color: #646566;
}
.el-tooltip__popper[x-placement^='top'] .popper__arrow {
  border-top-color: #646566;
}
.el-tooltip__popper[x-placement^='top'] .popper__arrow::after {
  border-top-color: #646566;
}
