.search-box {
  background: #FFFFFF;
  padding: 16px 24px
}
.data-box {
  margin: 16px;
  padding: 16px;
  background: #FFFFFF;
}

.el-form-item__label {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3D4966;
}
.el-form-item__content {
  font-size: 14px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #3D4966;
}
.el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  color: #F23C3C
}
.el-form--inline .el-form-item {
  margin-right: 16px;
  margin-bottom: 0px !important;
}
.el-dialog {
  border-radius: 4px;
  .el-dialog__header {
    border-bottom: 1px solid #E6E9F0;
    padding: 16px 16px 14px;
    .el-dialog__title {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #333333;
    }
    .el-dialog__headerbtn {
      top: auto;
      width: 20px;
      height: 20px;
      font-size: 20px;
      .el-dialog__close {
        color: #666666;
      }
    }
  }
}
.km-page-block {
  padding: 48px 0px;
  float: right
}
.el-pager li {
  padding: 0px;
  margin: 0px 4px;
  min-width: 32px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #D3DBEB;
  border-radius: 2px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
}
.el-pager li.active {
  background: #3377FF;
  color: #FFFFFF;
}
.el-pager li.active+li {
  border-left: 1px solid #D3DBEB
}
.el-pagination button {
  border: 1px solid #D3DBEB;
}
.el-pagination button, .el-pagination span:not([class*=suffix]) {
  height: 32px;
  line-height: 32px;
  min-width: 32px
}
.el-pagination button {
  padding: 0px;
}
.el-pagination .btn-prev {
  padding-right: 0px;
}
.el-pagination .btn-next {
  padding-left: 0px;
}
.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon {
  font-size: 20px;
  font-weight: 600;
}